@using WebUI.Models.ViewModels.BlogComment
@model BlogCommentCreateViewModel
@{
    Layout = null;
}

<form asp-controller="BlogComment" asp-action="Create" method="post">
    <div class="row row-gap-4 m-2">
        <div class="col-sm-6">
            <label asp-for="CreateModel.BlogId" class="form-label">
                Blog
            </label>
            <select asp-for="CreateModel.BlogId" asp-items="Model.BlogIds" class="form-select autoInitSelect2">
                <option></option>
            </select>
            <span asp-validation-for="CreateModel.BlogId"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.UserId" class="form-label">
                User
            </label>
            <select asp-for="CreateModel.UserId" asp-items="Model.UserIds" class="form-select autoInitSelect2">
                <option></option>
            </select>
            <span asp-validation-for="CreateModel.UserId"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.Comment" class="form-label">
                Comment
            </label>
            <input asp-for="CreateModel.Comment" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Comment"></span>
        </div>
    </div>
</form>