@using WebUI.Models.ViewModels.Blog
@model BlogCreateViewModel
@{
	ViewData["Title"] = "Create Blog";
}

<div class="card">
	<div class="card-header">
		Create Blog
	</div>
	<div class="card-body">
		<form asp-controller="Blog" asp-action="Create" method="post">
			<div class="row row-gap-4 m-2">
				<div class="col-sm-6">
					<label asp-for="CreateModel.AuthorId" class="form-label">
						Author
					</label>
					<select asp-for="CreateModel.AuthorId" asp-items="Model.AuthorIds" class="autoInitSelect2 form-select">
						<option></option>
					</select>
					<span asp-validation-for="CreateModel.AuthorId"></span>
				</div>
				<div class="col-sm-6">
					<label asp-for="CreateModel.Title" class="form-label">
						Title
					</label>
					<input asp-for="CreateModel.Title" type="text" class="form-control" />
					<span asp-validation-for="CreateModel.Title"></span>
				</div>
				<div class="col-sm-6">
					<label asp-for="CreateModel.Content" class="form-label">
						Content
					</label>
					<input asp-for="CreateModel.Content" type="text" class="form-control" />
					<span asp-validation-for="CreateModel.Content"></span>
				</div>
				<div class="col-sm-6">
					<label asp-for="CreateModel.CategoryId" class="form-label">
						Category
					</label>
					<select asp-for="CreateModel.CategoryId" asp-items="Model.CategoryIds" class="autoInitSelect2 form-select">
						<option></option>
					</select>
					<span asp-validation-for="CreateModel.CategoryId"></span>
				</div>
				<div class="col-sm-6">
					<label asp-for="CreateModel.BannerImage" class="form-label">
						BannerImage
					</label>
					<input asp-for="CreateModel.BannerImage" class="form-control" />
					<span asp-validation-for="CreateModel.BannerImage"></span>
				</div>
				<div class="col-12">
					<button type="submit" class="btn btn-success">
						<i class="fa-solid fa-floppy-disk me-2"></i>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
