@using WebUI.Models.ViewModels.User
@model UserCreateViewModel
@{
    Layout = null;
}

<form asp-controller="User" asp-action="Create" method="post">
    <div class="row row-gap-4 m-2">
        <div class="col-sm-6">
            <label asp-for="CreateModel.Name" class="form-label">
                Name
            </label>
            <input asp-for="CreateModel.Name" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Name"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.LastName" class="form-label">
                Last Name
            </label>
            <input asp-for="CreateModel.LastName" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.LastName"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.Email" class="form-label">
                Email
            </label>
            <input asp-for="CreateModel.Email" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Email"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.Addres" class="form-label">
                Addres
            </label>
            <input asp-for="CreateModel.Addres" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Addres"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.BirthDate" class="form-label">
                BirthDate
            </label>
            <input asp-for="CreateModel.BirthDate" type="text" class="form-control autoInitDatePicker" />
            <span asp-validation-for="CreateModel.BirthDate"></span>
        </div>
        <div class="col-sm-6">
            <label asp-for="CreateModel.Password" class="form-label">
                Password
            </label>
            <input asp-for="CreateModel.Password" type="text" class="form-control" />
            <span asp-validation-for="CreateModel.Password"></span>
        </div>
    </div>
</form>