@using WebUI.Models.ViewModels.Category
@model CategoryCreateViewModel
@{
    ViewData["Title"] = "Create Category";
}

<div class="card">
    <div class="card-header">
        Create Category
    </div>
    <div class="card-body">
        <form asp-controller="Category" asp-action="Create" method="post">
            <div class="row row-gap-4 m-2">
                <div class="col-sm-6">
                    <label asp-for="CreateModel.Name" class="form-label">
                        Name
                    </label>
                    <input asp-for="CreateModel.Name" type="text" class="form-control" />
                    <span asp-validation-for="CreateModel.Name"></span>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk me-2"></i>
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>